/.phpunit.cache
/bootstrap/ssr
/bootstrap/cache/*
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
# .env
.env.backup
.env.production
.env.local
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.log
